doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title AWS CodeDeploy Test
  body
    .header
      h1.page-title AWS CodeDeploy Test

    ul.nav
      li: a(href='/') Test
    
    .main-content
      block content

    .footer
      This is a test nodejs website
